# node modules
node_modules/

# Archivos de entorno
.env
.env.local
.env.development
.env.test
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios temporales
dist/
build/
.tmp/
.temp/
.cache/
coverage/

# Sistemas operativos
.DS_Store
Thumbs.db

# Archivos de edición y backups
*.swp
*.swo
*.bak
*.tmp

# Configuraciones de editores
.vscode/
.idea/

# Salida de tests
test-output/
.vercel
